<h1>Edit task</h1>
<!-- Use keyword render to call the partial _form.html.erb -->
<%= render 'form', task: @task %>

<hr>
<%= link_to tasks_path do %>
  <i class="fa fa-history"></i> Back to list
<% end %>
